.App {
  margin: 1rem;
}
.searchDiv {
  padding: 1rem;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
}
.searchDiv form {
  display: flex;
  flex-direction: column;
}
.imageList {
  columns: 250px 5;
  column-gap: 10px;
}
.imgeListImg {
  width: 100%;
  margin-bottom: 10px;
}
